<%= form_title (t 'registration_form.title') %>
<%= form_subtitle (t 'registration_form.subtitle') %>

<div class="column is-4 is-offset-4 has-text-centered">
  <div class="box">
    <%= render 'form' %>
  </div>

  <p class="field">
    <%= link_to (t 'registration_form.have_an_account?'), new_user_session_path, :class => 'has-text-grey has-text-weight-bold' %>
  </p>
</div>