<div class="column is-4 is-offset-4 has-text-centered">
  <p class="title has-text-grey"><%= t 'registration_form.title' %></p>
  <p class="subtitle has-text-grey"><%= t 'registration_form.subtitle' %></p>

  <div class="box">
    <%= render 'form' %>
  </div>

  <p class="field">
    <%= link_to (t 'registration_form.have_an_account?'), new_user_session_path, :class => 'has-text-grey has-text-weight-bold' %>
  </p>
</div>