<span class="has-text-weight-bold">
  <%= notification.user.screen_name %>
</span> &nbsp;

<span>
  <%= t 'notifications.replies.created' %>
  <%= link_to notification.notifiable.post.title, notification.notifiable.post.path %>
</span>