<span class="has-text-weight-bold">
  <%= notification.user.screen_name %>
</span> &nbsp;

<span>
  replied to
  <%= link_to notification.notifiable.post.title, notification.notifiable.post.path %>
</span>