<%= form_subtitle (t 'courses.index.title') %>
<%= render 'box' %>

<section class="section">
  <% @courses.each_slice(3) do |slice| %>
    <div class="tile is-ancestor">
      <div class="tile">
        <%= render partial: 'course', collection: slice %>
      </div>
    </div>
  <% end %>
</section>

<%= render 'new_course' %>