<% unless notice.blank? %>
  <div data-alert class="alert-box success radius">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% unless alert.blank? %>
  <div data-alert class="alert-box aler radiust">
    <%= alert %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>