<% unless notice.blank? %>
  <div class="notification is-success">
    <a href="" class="delete"></a>

    <%= notice %>
  </div>
<% end %>
<% unless alert.blank? %>
  <div class="notification is-danger">
    <a href="" class="delete"></a>

    <%= alert %>
  </div>
<% end %>
