<% if obj.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% obj.errors.full_messages.each do |error| %>
        <li> · <%= error %> </li>
      <% end %>
    </ul>
  </div>
<% end %>