<div class="level">

  <div class="level-item has-text-centered">
    <div>
      <a href="http://rubyonrails.org/">
        <figure class="image">
          <img src="http://rubyonrails.org/images/rails-logo.svg" alt="" style="height: 56px;">
        </figure>
        <p class="heading">&nbsp;</p>
      </a>

      <p class="title is-4">Ruby on Rails</p>
      <p class="heading">Framework Ruby MVC</p>
    </div>
  </div>

  <div class="level-item has-text-centered">
      <div>
        <%= fa_link_to 'github', '', 'https://github.com/ortuagustin/fluffy', size: 72 %>
        <p class="title is-4">Ortu, Agust&iacute;n</p>
        <p class="heading">C&oacute;digo Fuente</p>
      </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <a href="http://info.unlp.edu.ar/">
        <figure class="image">
          <img src="https://www.guarani-informatica.unlp.edu.ar/_comp/pack_comunes/img/logo-transparente.png" alt="" style="height: 96px;">
        </figure>
        <p class="heading">&nbsp;</p>
      </a>
    </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p class="title is-4">TTPS Ruby - 2017</p>
      <p class="heading">Trabajo pr&aacute;ctico integrador</p>
    </div>
  </div>

</div>
